#page_wrapper #content_wrapper
{
	margin:5px 5px;
}

#page_wrapper #content_wrapper #content 
{
	padding:10px;
	width:auto;
	border:none;
	min-height:250px;
}


#page_wrapper #header #nav_container
{
	float:none;
	clear:both;
	margin:0px auto;
	width:250px;
}

#page_wrapper #header .title_container
{
	padding:0px 0px 0px 5px;
	margin:10px 10px 10px 0px;
	font-size:1.1em;
}

#page_wrapper #header .title_sub
{
	font-size:.6em;
}

.sf-menu li
{
	width:80px;
	font-size:.8em;
}

#page_wrapper #content_wrapper #content h2
{
	font-weight:bold;
	font-size:1em;
}

#page_wrapper #content_wrapper #content p
{
	margin-bottom:15px;
	font-size:.8em;
}