#page_wrapper {}

#page_wrapper #content_wrapper
{
	margin-top:20px;
}

#page_wrapper #content_wrapper #content 
{
	margin:0px auto;
	padding:20px;
	min-height:400px;
	width:900px;
}

#page_wrapper #content_wrapper #content h2
{
	font-weight:bold;
	font-size:1.6em;
}

#page_wrapper #content_wrapper #content p
{
	margin-bottom:15px;
	font-size:1.2em;
}

#page_wrapper #header 
{

}

	#page_wrapper #header .title_container
	{
		font-size:1.5em;
		float:left;
		padding:20px 0 0 30px;
	}
	
	#page_wrapper #header .title_sub
	{
		font-size:.7em;
	}
	
	#page_wrapper #header #nav_container
	{
		float:right;
		margin:20px 50px 2px 5px;
	}

#page_wrapper #footer
{
	margin-top:20px;
	height:35px;
}

	#page_wrapper #footer .copy
	{
		float:right;
		margin-top:5px;
	}

.sf-menu li
{
	width:125px;
}

#content h1, #content h2, #content h3, #content h4
{
	margin-bottom:10px;
}

